{% extends "index.html" %}

{% block title %}Builds by Lamp{% endblock title %}

{% block content %}
<article class="post-single">
    <header class="post-header">
        <h1 class="post-title">{{ section.title }}</h1>
        <div class="post-meta">
            {% if section.extra.author %}
            {% if section.extra.author_url %}Author: <a class="post-author" href="{{ section.extra.author_url | safe }}">
                {{ section.extra.author }}
            </a>
            {% else %}<span class="post-author">
                Author: {{ section.extra.author }}
            </span>{% endif %}
            <br/>
            {% endif %}
        </div>
    </header>
    <div class="post-content">{{ section.content | safe }}</div>

    {% for s in section.subsections %}
        {% set build = get_section(path=s) %}
        <article class="post-entry">
            <header class="entry-header">
                <h2>{{ build.title }}</h2>
            </header>
            <a class="entry-link" aria-label="post link to {{ build.title }}" href="{{ build.permalink }}"></a>
        </article>
    {% endfor %}

    {% for page in paginator.pages %}
    <article class="post-entry">
        {% if page.extra.image %}
        {% set image = resize_image(path=page.path ~ page.extra.image, width=210, height=210) %}
        <div class="entry-asset">
            <img src="{{ image.url }}" />
        </div>
        {% endif %}
      <header class="entry-header">
          <h2>{{ page.title }}</h2>
      </header>
      {% if page.date %}
      <div class="entry-date">
        {{ page.date | date(format="%B %e, %Y") }}
      </div>
      {% endif %}
      {% if false and page.taxonomies and page.taxonomies.class %}
      <ul class="post-tags">
      {% for tag in page.taxonomies.class %}
          <li><a href="{{ get_taxonomy_url(kind="class", name=tag) | safe }}">{{ tag }}</a></li>
      {% endfor %}
      </ul>
      {% endif %}
      {% if page.summary %}
      <div class="entry-content">
          <p>{{ page.summary | safe }}</p>
      </div>
      {% elif page.description %}
      <div class="entry-content">
          <p>{{ page.description | safe }}</p>
      </div>
      {% endif %}
      <a class="entry-link" aria-label="post link to {{ page.title }}" href="{{ page.permalink }}"></a>
    </article>
    {% endfor %}
</article>
{% endblock content %}