{% extends "index.html" %}

{% block title %}{{ page.title }} Build by Lamp{% endblock title %}

{% block content %}
<article class="post-single">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-meta">
            {% if page.slug and page.slug is matching("^([0-9a-f]{2}-?)+$") %}<span class="post-author">
                <a href="/articles/nfc-tags-on-weapons/">UID</a>: {{ page.slug }}
            </span>
            <br/>{% endif %}
            {% if page.date %}<span class="post-date">Built: <time>{{ page.date | date(format="%B %e, %Y") }}</time></span><br />{% endif %}
            {% if page.taxonomies and page.taxonomies.class %}
                Class: 
                <span class="post-classes">
                {% for class in page.taxonomies.class %}
                    <a href="{{ get_taxonomy_url(kind="class", name=class) | safe }}" class="post-class">{{ class }}</a>
                {% endfor %}
                </span>
                <br />
            {% endif %}
        </div>
    </header>
    <div class="post-content">{{ page.content | safe }}</div>
    <div class="image-gallery">
    {% for asset in page.assets | sort() -%}
        {%- if asset is matching("[.](jpg|png|jpeg)$") -%}
        {% set image = resize_image(path=asset, width=210, height=210) %}
        <a href="{{ page.path ~ asset | split(pat="/") | last() }}">
            <img src="{{ image.url }}" />
        </a>
        {%- endif %}
    {%- endfor %}
    </div>
</article>
{% endblock content %}