{% import "post_macros.html" as post_macros %}
{% import "macros/social_icon.svg.html" as social_icons %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %}{{ config.title }} - {{ page.title }}{% else %}{{ config.title }}{% endif %}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <!-- Enable responsiveness on mobile devices-->
        <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

        <!-- Standard meta tags -->
        {% if page.extra.author %}<meta name="author" content="{{ page.extra.author }}">{% endif %}

        <!-- Open Graph Tags -->
        <meta property="og:site_name" content="{{ config.title }}">
        <meta property="og:title" content="{% block title %}{% if page %}{{ page.title }}{% endif %}{% endblock title %}">
        {% if page %}
        <meta property="og:url" content="{{ get_url(path=page.path, trailing_slash=false) }}">
        {% if page.summary %}
        <meta property="og:description" content="{{ page.summary | striptags }}">
        {% endif %}
        {% if page.extra.image %}
        {% set path = page.relative_path | replace(from="index.md", to="") %}
        {% set image = resize_image(path=path ~ page.extra.image, width=1200, height=630, op="fill", format="auto", quality=75) %}
        <meta property='og:image' content="{{ image.url }}"/>
        <meta property='og:image:width' content="1200"/>
        <meta property='og:image:height' content="630"/>
        {% else %}
            {% for asset in page.assets | sort() | reverse() -%}
            {%- if asset is matching("[.](jpg|png|jpeg)$") -%}
            {% set image = resize_image(path=asset, width=1200, height=630) %}
                <meta property='og:image' content="{{ image.url }}"/>
                <meta property='og:image:width' content="1200"/>
                <meta property='og:image:height' content="630"/>
            {%- endif %}
        {%- endfor %}
        {% endif %}
        <meta property="og:type" content="article">
        {% if page.date %}<meta property="article:published_time" content="{{ page.date | date(format="%Y-%m-%d") }}">{% endif %}
        {% if page.updated %}<meta property="article:modified_time" content="{{ page.updated | date(format="%Y-%m-%d") }}">{% endif %}
        {% if page.extra.author_url %}<meta property="article:author" content="{{ page.extra.author_url }}">{% endif %}

        {% else %}
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ get_url(path="", trailing_slash=false) }}">
        {% endif %}

        <!-- CSS -->
        <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">

        <!-- Feeds -->
        {% if config.generate_feed %}<link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">{% endif %}

        <!-- Google Analytics -->
        {% if config.extra.google_analytics.enabled %}<script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.google_analytics.id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ config.extra.google_analytics.id }}');
        </script>{% endif %}

        <script>
            function setTheme() {
                /*
                const time = new Date();
      
                const prev = localStorage.getItem('date');
                const date = String(time.getMonth() + 1) + '.' + String(time.getDate());
      
                const now = time.getTime();
                let sunrise;
                let sunset;
      
                function setBodyClass() {
                    if (now > sunrise && now < sunset) return;
                    document.body.classList.add('dark');
                }
      
                if (date !== prev) {
                    fetch('https://api.ipgeolocation.io/astronomy?apiKey=5ed37d85103e4defa5df4c5298ed5215')
                        .then(res => res.json())
                        .then(data => {
                            sunrise = data.sunrise.split(':').map(Number);
                            sunset = data.sunset.split(':').map(Number);
                    })
                    .catch(() => {
                        sunrise = [7, 0];
                        sunset = [19, 0];
                    })
                    .finally(() => {
                        sunrise = time.setHours(sunrise[0], sunrise[1], 0);
                        sunset = time.setHours(sunset[0], sunset[1], 0);
                        setBodyClass();
                        localStorage.setItem('sunrise', sunrise);
                        localStorage.setItem('sunset', sunset);
                    });
                    localStorage.setItem('date', date);
                } else {
                    sunrise = Number(localStorage.getItem('sunrise'));
                    sunset = Number(localStorage.getItem('sunset'));
                    setBodyClass();
                }
                */

                let dark = window.matchMedia("(prefers-color-scheme: dark)").matches;
                if (dark) {
                    document.body.classList.add('dark');
                }

            }
        </script>
    </head>
    
    <body class="single">
    
    <!-- Apply theme -->
    <script>
      setTheme();
    </script>

    {% block body %}
        <header class="header">
            <nav class="nav">
                {% if page %}
                <p class="logo"><a href="{{ get_url(path="", trailing_slash=false ) }}"><img src="{{ get_url(path="logo.png") }}" class="logo-img" />{{ config.title }}</a></p>
                {% else %}
                <h1 class="logo"><a href="{{ get_url(path="", trailing_slash=false ) }}"><img src="{{ get_url(path="logo.png") }}" class="logo-img" />{{ config.title }}</a></h1>
                {% endif %}
                <ul class="menu">
                    {% set index_section = get_section(path="_index.md") %}
                    {% set_global links = index_section.pages %}
                    {% for subsection in index_section.subsections %} 
                        {% set_global links = links | concat(with=get_section(path=subsection)) %}
                    {% endfor %}
                    {% block sidebar_nav %}{% for link in links | filter(attribute="extra.header", value=true) | sort(attribute="title") %}
                    <li><a href="{{ get_url(path=link.path, trailing_slash=true) }}">{{ link.title }}</a></li>
                    {% endfor %}{% endblock sidebar_nav %}
                </ul>
            </nav>
        </header>
        {% if section.extra.banner %}
        <div style="background:url('{{ section.extra.banner}}');
        height: 200px;
        background-size: cover;
        background-position: center;
        "></div>
        {% endif %}

        <main class="main">
            {% block content %}
            {% set is_first_page = true %}
            {% if paginator is defined %}
                {% set pages = paginator.pages %}
                {% set is_first_page = paginator.current_index == 1 %}
            {% elif section is defined %}
                {% set pages = section.pages %}
            {% endif %}

            <div class="post-content">
                {{ section.content | safe }}
                
                <div style="float:right; clear: right; margin-left: 20px; width: 33%; margin-top: -20px">
                    <h2>Next Event</h2>    
                    {% set section = get_section(path="events/_index.md") %}
                    {% for page in section.pages | sort(attribute="date") | reverse | slice(end=1) %}
                    {% if page.extra.image %}<a href="{{ page.permalink }}"><img src="{{ page.extra.image }}" /></a>{% endif %}
                    <h3><a href="{{ page.permalink }}">{{ page.title }}</a></h3>
                    <p>{{ page.date | date(format="%B %e, %Y")}}</p>
                    {% endfor %}
                </div>

                <h2>Latest News</h2>      
                {% set section = get_section(path="news/_index.md") %}
                {% for page in section.pages | sort(attribute="date") | reverse | slice(end=1) %}
                <h3><a href="{{ page.permalink }}">{{ page.title }}</a></h3>
                <p>
                {{ page.content | safe }}
                </p>
                {% endfor %}
                {% if paginator is defined %}
                <footer class="page-footer">
                    <nav class="pagination">
                        {% if paginator.previous %}<a class="prev" href="{{ paginator.previous }}">← Previous</a>{% else %}<!--Hidden Previous-Button-->{% endif %}
                        {% if paginator.next %}<a class="next" href="{{ paginator.next }}">Next →</a>{% else %}<!--Hidden Next-Button-->{% endif %}
                    </nav>
                </footer>
                {% endif %}
            </div>
            {% endblock content %}
        </main>

        <footer class="footer">
            <span>&copy; {{ now() | date(format="%Y") }} <a href="{{ get_url(path="", trailing_slash=false ) }}">{{ config.title }}</a></span>
            <span>&middot;</span>
            <span><a href="{{ get_url(path="bylaws") }}">Bylaws</a></span>
            <span>&middot;</span>
            <span><a href="{{ get_url(path="code-of-conduct") }}">Code of Conduct</a></span>
            <span>&middot;</span>
            <span>Powered by <a href="https://www.getzola.org" rel="noopener" target="_blank">Zola</a>️ & <a href="https://github.com/schoenenberg/zola-paper" rel="noopener" target="_blank">Zola-Paper</a></span>
        </footer>
    {% endblock body %}
    </body>
</html>
