{% import "ranks.html" as ranks %}
{% extends "section.html" %}

{% block content %}

{% set rank_names = ["Unranked", "Peasant", "Savage", "Harbinger"] %}
{% set year = now() | date(format="%Y") %}

<article class="post-single">
    <header class="post-header">
        <h1 class="post-title">Current Members</h1>
    </header>
    <div class="post-content">{{ section.content | safe }}</div>
    {% if paginator %}
        {% set pages = paginator.pages %}
    {% else %}
        {% set pages = section.pages %}
    {% endif %}

    {% for page in pages %}

    {% if page.extra.dues[year] %}

        {% set rank = ranks::rank(extra=page.extra) | trim | int %}


        <div>
            <a aria-label="post link to {{ page.title }}" href="{{ page.permalink }}">
                <span><b>{{ page.title }}</b></span>
                <span class="post-meta">
                {{ rank_names[rank] }}
                </span>
            </a>
        </div>
   
    {% endif %}
    {% endfor %}



    <header class="post-header">
    <h2>Last Year&#39;s Members</h2>
    </header>

    {% for page in pages %}

    {% if not page.extra.dues[year] %}

        {% set rank = ranks::rank(extra=page.extra) | trim | int %}

        <div>
            <a aria-label="post link to {{ page.title }}" href="{{ page.permalink }}">
                <span><b>{{ page.title }}</b></span>
                {# <span class="post-meta">
                {{ rank_names[rank] }}
                </span> #}
            </a>
        </div>

    {% endif %}
    {% endfor %}

    <footer class="post-footer">
        {% if section.taxonomies and section.taxonomies.tags %}
        <ul class="post-tags">
        {% for tag in section.taxonomies.tags %}
            <li><a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    </footer>
</article>
{% endblock content %}